[submodule "manager"]
	path = manager
	url = ../manager.git
	branch = develop/hubs-01
[submodule "prompts"]
	path = prompts
	url = ../prompts.git
	branch = develop/hubs-01
[submodule "examples"]
	path = examples
	url = ../examples.git
	branch = develop/hubs-01
[submodule "openlab"]
	path = openlab
	url = ../openlab.git
	branch = develop/hubs-01
[submodule "skills"]
	path = skills
	url = ../skills.git
	branch = develop/hubs-01
